@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grids-dark {
    background-image: url("/grids-dark.svg");
    background-color: oklch(0.269 0 0);
    background-attachment: fixed;
}
 
.grids-light {
  background-image: url("/grids-light.svg");
  background-color: oklch(0.9 0 0);
  background-attachment: fixed;
}

@media (max-width: 600px) {
  .team-view-btn {
    font-size: 0.7em !important;
    white-space: nowrap !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: 100% !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grids-dark {
  background-image: url("/public/grids-dark.svg");
  background-color: oklch(0.269 0 0);
  background-attachment: fixed;
}

.grids-light {
background-image: url("/public/grids-light.svg");
background-color: oklch(0.9 0 0);
background-attachment: fixed;
}
